@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100vw;
    height: 100vh;
    font-family: Arial;
}

main {
    width: 100%;
    height: 100%;
}

@layer base {
    main {
        @apply flex flex-row
    }
    h1 {
        @apply text-2xl py-2 px-4;
    }
    h2 {
        @apply text-xl py-2 px-4;
    }
}

@layer components {
    .nav-branch {
        @apply flex flex-col p-10 basis-1/4 bg-gray-200;
    }
    .dashboard {
        @apply flex flex-col p-10 basis-3/4 bg-white;
    }
    .branch {
        @apply flex flex-row max-h-10 bg-gray-200 py-2 px-4 hover:bg-gray-100;
    }
    .branch-status {
        @apply mt-10;
    }
    .leaf {
        @apply flex flex-row py-2 px-4 text-gray-700 border-b hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
    .leaf-status {
        @apply mr-2;
    }
    .leaf-edit {
        @apply px-2 ml-4 bg-green-200 rounded-sm text-sm text-gray-700;
    }
    .branch-form  {
        @apply flex flex-row px-3 py-2;
    }
    .branch-form-name {
        @apply appearance-none bg-gray-100 border w-full border-blue-500 text-gray-700 mr-1 py-1 px-2 leading-tight rounded;
    }
    .branch-form-submit {
        @apply bg-transparent hover:bg-blue-500 text-base text-blue-700 font-semibold hover:text-white py-1 px-2 border border-blue-500 hover:border-transparent rounded;
    }
    .branch-delete {
        @apply ml-2 bg-transparent hover:bg-blue-500 text-xs text-blue-700 font-semibold hover:text-white py-1 px-2 border border-blue-500 hover:border-transparent rounded;
    }
    .leaf-form {
        @apply flex py-2 px-2;
    }
    .leaf-form-date, .leaf-form-name, .edit-leaf-name, .edit-leaf-date {
        @apply appearance-none bg-gray-100 border w-full text-gray-700 mr-3 py-1 px-2 leading-tight rounded;
    }
    .leaf-form-submit, .edit-leaf-submit {
        @apply bg-transparent hover:bg-blue-500 text-xs text-blue-700 font-semibold hover:text-white py-1 px-2 border border-blue-500 hover:border-transparent rounded;
    }
    .edit-leaf-form {
        @apply flex py-1.5 px-2;
    }
    .edit-form-exit {
        @apply ml-2 bg-transparent hover:bg-blue-500 text-sm text-blue-700 font-semibold hover:text-white py-1 px-2 border border-blue-500 hover:border-transparent rounded;
    }
    .add-branch {
        @apply py-2 px-4 text-gray-400 hover:bg-gray-400 hover:text-white focus:outline-none focus:ring-2  focus:ring-opacity-75;
    }
    .add-leaf {
        @apply py-2 px-4 bg-white text-gray-400 hover:bg-gray-400 hover:text-white focus:outline-none focus:ring-2  focus:ring-opacity-75;
    }

}

svg {
    height: 100%;
    width: 1rem;
}
.hidden {
    display: none;
}
.branch-name {
    @apply grow;
}
.leaf-name {
    @apply grow;
}
.leaf-date {
    @apply text-gray-700;
}