html {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
}

.board {
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.cell {
    display: flex;
    height: 33%;
    width: 33%;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.reset {
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    padding: .8rem;
}

.info {
    text-align: center;
}