/**Main**/

body {
    font-family: "Lato", sans-serif;
    background: rgb(15, 15, 15);
    margin: 0;
}

.navbar {
    width: 100vw;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
    white-space: nowrap;
    padding-left: 0.2em;
    font-weight: 400;
    color:rgb(218, 218, 218);
    letter-spacing: 5px;
    text-align: center;
}

h3 {
    font-size: 2em;
    white-space: nowrap;
    margin: 5%;
    font-weight: 300;

}

h4 {
    font-size: 1em;
    text-transform: uppercase;
    margin: 0 0 5% 0;
    font-weight: 300;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.film {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    min-width: 200px;
    flex-grow: 0;
    padding: 2em;
    margin: 1em;
    background: rgb(255, 255, 255);
    background: linear-gradient(20deg, rgb(107, 107, 107) 0%, rgb(23, 48, 68)100%);
    border-radius: 1.5em;
    box-shadow: 3px 3px 6px rgba(43, 43, 43, 0.8);
    color: white;
}

.userControls {
    display: flex;
    align-items: center;
    justify-content: center;
}

/**Buttons**/

button {
    display: inline;
    margin: 0.5em;
    border-radius: 30px;
    background-color: rgb(247, 247, 247);
    color: rgb(94, 94, 94);
    border: 0;
    padding: 0.5em 1em 0.5em 1em;
}

.add {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50px;
    width: 7em;
    height: 7em;
    background-color: rgb(146, 146, 146);
    color: rgb(255, 255, 255);
    border: 0;
    box-shadow: 0px 0px 16px rgba(124, 124, 124, 0.8);

}

.add:active {
    transform: translateY(3px);
}

.watchState {
    width: 8em;
}


/* User Form  */
.formContainer {
    width: 230px;
    position: fixed;
    right: calc(50% - 125px);
    top: 30%;
    background-color: rgb(247, 247, 247);
    padding: 1.5em;
    border-radius: 20px;
    display: none;
    flex-direction: row;
}

fieldset {
    border: 0;
}

input[type=text]{
    background-color: rgba(230, 230, 230, 0.8);
    border: 0;
    border-radius: 20px;
    padding: 0.5em;
    margin-bottom: 1em;
}

select {
    background-color: rgba(230, 230, 230, 0.8);
    border: 0;
    border-radius: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
}

label {
    display: inline-block;
}

.radioSelect {
    padding:1em 0 1em 0;
}

.radio {
    display: inline-block;
    border: 0;
}

.submit {
    border-radius: 1em;
    border: 0;
    padding: 1em;
    background-color: rgb(69, 165, 243);
    margin-left: 75px;
    color: white;
}

.closeBtn {
    display: inline-block;
    font-size: 2em;
    margin: 0;
    padding: 7px;
    position: absolute;
    right: 5px;
    top: -5px;
    background-color: transparent;
    cursor: pointer;
}