html, body {
    margin-top: 2vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    background-color: #f7f7f7;
}

h1 {
    font-size: 1.5em;
    padding-top: 0.5em;
    color: grey;
}

.frame {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 1px solid grey;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
}

.cell {
    border: 1px solid #f2f2f2;
    background-color: #fff;
    height: auto;
    flex-basis: 100%;
}

.controls {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2em;
}

button {
    display: inline-block;
    padding: 0.5em 1.5em;
    border: none;
    margin: 0.3em 0.3em 0.3em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #000;
    text-align: center;
    transition: all 0.2s;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 5px;
    margin: auto;
    margin-left: 0.3em;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#color {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50px;
    height: 25px;
    margin: auto;
    background: #fff;
    border: none;
}